@import "tailwindcss";
@theme {
  --color-primary: #4e4e4e;
  --color-accent: #4C15E9;
}

html, body, #__next {
  height: 100%;
}
body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #fff;
  color: #111827;
}

/* subtle card shadow like the PDF */
.card-shadow {
  box-shadow: 0 6px 24px rgba(16,24,40,0.08);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}
.scrollbar-hide {
  scrollbar-width: none !important;
}

/* HIDE SCROLLBAR (IE / Edge) */
.scrollbar-hide {
  -ms-overflow-style: none !important;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}
